<div class="row">
    <div class="col-8"></div>
    <div class="col-2">
        <a href="/bright_ideas">Bright Ideas</a>
    </div>
    <div class="col-2">
        <a href="/Logoff">Logoff</a>
    </div>
</div>

<h1>Name: @ViewBag.ThisUser.Name</h1>
<h2>Alias: @ViewBag.ThisUser.Alias</h2>
<h2>Email: @ViewBag.ThisUser.Email</h2>

<hr>

<p>Total Number of Post @ViewBag.ThisUser.PostsWritten.Count</p>
<p>Total Number of Likes @ViewBag.ThisUser.Likes.Count</p>